html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #888888;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:black;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    position: fixed;
    height: 70px;
}

header a {
    width: 60px;
    height: 50px;
    color: white;
    align-self: center;
}

section {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    padding-left: 10px;
    padding-right: 10px;
}

button {
    font-weight: bold;
    background-color: white;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 40%;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
}

button:focus {
    outline-color: white;
    border:black;
}

input {
    background-color: white;
    border: none;
    color: black;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 40%;
    margin: 10px 5px;
    cursor: pointer;
}

input:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:black;
}

input:focus {
    outline-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:white;
}

.hide {
    display: none;
}

header div {
    padding: 20px;
}

header a:hover {
    color: yellow;
}

#homepage-image{
    height: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: blue;
}

.feedback-correct {
    color: white;
    background-color: green;
    display: inline-block;
    font-weight: bold;
    border: 1px solid black;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}

.feedback-incorrect {
    color: white;
    background-color:red;
    display: inline-block;
    font-weight: bold;
    border: 1px solid black;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
}